body{
    margin: 0;
}
canvas{
    width: 100%;
    height: 100%;
}
#info{
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display:block;
}
#info_1{
    background-color: black;
    align-items: center;
    width: 100%;
}
#footer{
    position: fixed;
    bottom: 0;
    right: 0;
}